@model  _005使用Redis计算新闻点击量.Models.New
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>热烈祝贺shanzm使用Redis</h1>
        <p>qwertyuiopafddhgjgkj</p>
        <p>点击量：@Model.ClickCount </p>
    </div>
</body>
</html>
